@use "../../global/index" as g;

.u__date {
  color: g.$fc-gray;
  font-size: 1.5rem;

  span {
    &.u__date__day {
      display: block;
    }
  }

  @include g.mq('tb') {
    font-size: 1.3rem;
  }
}